<?xml version='1.0' encoding='utf-8' ?>
<plugin id="org.nirsancho.cordova.deviceaccounts" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>DeviceAccounts</name>
    <js-module name="DeviceAccounts" src="www/DeviceAccounts.js">
        <clobbers target="cordova.plugins.DeviceAccounts" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="DeviceAccounts">
                <param name="android-package" value="org.nirsancho.cordova.deviceaccounts.DeviceAccounts" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.GET_ACCOUNTS" />
        </config-file>
        <source-file src="src/android/DeviceAccounts.java" target-dir="src/org/nirsancho/cordova/deviceaccounts" />
    </platform>
</plugin>